@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: myFont;
    src: url(../font/GaMaamli-Regular.ttf);
}
.done{
    color: gray;
    text-decoration: line-through;
    text-decoration-color: #AF86F8;
}